.title {
    border-bottom: solid;
}

.menu {
    font-size: 0;
}

.square_btn {
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #00bcd4;
    transition: .4s;
 }
 
a.square_btn {
    margin-left: 5px;
}

 .square_btn:hover {
    background: #1ec7bb;
    cursor: pointer;
 }
  
%subtitle {
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom: solid;
    border-width: thin;
}

%subcontent {
    border: solid;
    padding: 10px;
    border-width: thin;
}

.control-panel {
    p {
        margin: 10px 10px;
    }

    p.output {
        margin: 10px 10px;
        .label {
            position: relative;
            top: -3px;
        }
    }

    p.beep-line {
        width: 30px;
        height: 20px;
        border-bottom: solid;
        border-left: solid;
        border-width: thin;
        margin: -25px 10px 10px 75px;

    }
    
    p.beep-string {
        margin: -23px 10px 10px 105px;

        input {
            margin-right: -5px;
        }
    }
}

.register {
    width: 200px;
}

.clock-generator {
    @extend %subcontent;

    width: 165px;
    
    .title {
        @extend %subtitle;
    }
}

.reset-button {
    margin-top: 10px;
    width: 185px;
    height: 30px;
}

.program-memory {
    @extend %subcontent;

    top: 175px;
    position: absolute;
    left: 226px;

    .title {
        @extend %subtitle;
    }
}

.rom-line {
    &.current {
        color: red;
    }
}

.memory-checkbox {
    display: none;
    $icon_after: ".memory-icon:after";
    & + #{$icon_after} {
        content: '□';
    }
    &:checked + #{$icon_after} {
        content: '■';
    }
}
