.title {
    border-bottom: solid;
}

%subtitle {
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom: solid;
    border-width: thin;
}

%subcontent {
    border: solid;
    padding: 10px;
    border-width: thin;
}

.control-panel p {
    margin: 10px 10px;
}

.register {
    width: 200px;
}

.clock-generator {
    @extend %subcontent;

    width: 165px;
    
    .title {
        @extend %subtitle;
    }
}

.reset-button {
    margin-top: 10px;
    width: 185px;
    height: 30px;
}

.program-memory {
    @extend %subcontent;

    top: 82px;
    position: absolute;
    left: 226px;

    .title {
        @extend %subtitle;
    }
}

.rom-line {
    &.current {
        color: red;
    }
}

.memory-checkbox {
    display: none;
    $icon_after: ".memory-icon:after";
    & + #{$icon_after} {
        content: '□';
    }
    &:checked + #{$icon_after} {
        content: '■';
    }
}
